<div id="blue">
    <div class="container">
        <div class="row">
            <h3>HOME.</h3>
        </div>
    </div>
</div>

<div class="container">

<div class="row">
  <div class="col-lg-10 col-lg-offset-1">
    <div id="custom-search-input">
        <div class="input-group col-md-12">
            <input id="input_search_id" type="text" class="form-control input-lg" placeholder="Search bookmarks.." required />
            <span class="input-group-btn">
                <button id="button_search_id" class="btn btn-info btn-lg" type="button">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </span>
        </div>
    </div>
  </div>
  <div class="col-lg-10 col-lg-offset-1">
    <h2><a href="{{bookmark.url}}">{{bookmark.name}}</a></h2>
    <p *ngIf="bookmark.description">Description: {{bookmark.description}}</p>
    <p *ngIf="bookmark.description">Author: {{bookmark.author}}</p>
    <hr/>
    <div class="text-right" style="margin-bottom: 20px;">
    <a type="button" class="btn btn-primary" [routerLink]="['/add']">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Add bookmark
    </a>
    </div>
    <ul *ngFor="let bookmark of bookmarks" class="list-group text-left" style="margin-bottom: 20px;">
        <li (click)="selectBookmark(bookmark)" class="list-group-item bookmark-link" [class.clicked]="bookmarkSelected.name===bookmark.name" style="background: #384452; color: white">
          <div class="row">
            <div class="col-md-8 text-left">
              {{bookmark.name}}
            </div>
            <div class="col-md-4 text-right">
              <a class="btn btn-xs btn-primary" [routerLink]="['/add', bookmark.name, bookmark.description, bookmark.author, bookmark.url, bookmark.type, bookmark.code]"><span class="glyphicon glyphicon-new-window"></span></a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
        <p *ngIf="bookmark.author"><small>Author: {{bookmark.author}}</small></p>
        <p *ngIf="bookmark.description"><small>Description: {{bookmark.description}}</small></p>
        <p *ngIf="bookmark.type"><small>Type: {{bookmark.type}}</small></p>
        <p *ngIf="bookmark.code"><small>Code: {{bookmark.code}}</small></p>
        <p *ngIf="bookmark.url" ><a href="{{bookmark.url}}" target="_blank"><small>Web Site: {{bookmark.url}}</small></a> </p>
        </li>
    </ul>
  </div>
</div>



</div>
