<div id="blue">
    <div class="container">
        <div class="row">
            <h3>{{titulo}}.</h3>
        </div>
    </div>
</div>
<div class="container">
    <button (click)="readMore(true)" [class.hideElement]="estado === true" class="btn btn-xs btn-primary">Read more</button>
    <button (click)="readMore(false)" [class.hideElement]="estado === false" class="btn btn-xs btn-warning">Read less</button>
    <div *ngIf="estado === true" class="text-left">
        <p><a href="#"><i class="fa fa-angle-right"></i> Archivos de configuración</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Componentes</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Variables</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Interpolación</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Templates</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Constructor, Metodos y propiedades</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Crear modelos de datos</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Stilos Css</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Directiva NgIf directiva NgClass y evento Click</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Two-way data binding</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Directiva NgFor NgIf y arrays en TypeScript</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Múltiples componentes evento click y two-way data binding</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Crear y usar un servicio</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Routing básico</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Rutas y añadir datos con un servicio</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Rutas con parámetros</a></p>
        <p><a href="#"><i class="fa fa-angle-right"></i> Formularios y validación</a></p>



    </div>
</div>
