<div id="blue">
    <div class="container">
        <div class="row">
            <h3>PUBLICAR CURSO.</h3>
        </div>
    </div>
</div>
<div class="container" style="margin-bottom: 350px;">
    <form #miFormulario="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label text-left">Nombre</label>
            <div class="col-xs-10">
                <input name="nombre" class="form-control" type="text" placeholder="Nombre o descripción del curso.." #nombre="ngModel" required
                [(ngModel)]="nuevoCurso.nombre" aria-describedby="errorBlock1" minlength="10">
                <span *ngIf="!nombre.valid" id="errorBlock1" class="help-block">*Mínimo 10 caracteres</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-2 col-form-label text-left">Plataforma</label>
            <div class="col-xs-10">
                <input name="plataforma" class="form-control" type="text" placeholder="Es la empresa que hace el curso o su alojamiento como por Ej. YouTube, Udemy, etc." #plataforma="ngModel" required
                [(ngModel)]="nuevoCurso.plataforma" aria-describedby="errorBlock2" minlength="4">
                <span *ngIf="!plataforma.valid" id="errorBlock2" class="help-block">*Mínimo 4 caracteres</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-search-input" class="col-xs-2 col-form-label text-left">Profesor</label>
            <div class="col-xs-10">
                <input name="profesor" class="form-control" type="text" placeholder="Profesor del curso.." #profesor="ngModel" required pattern="[A-Za-z\s]*"
                [(ngModel)]="nuevoCurso.profesor" aria-describedby="errorBlock3" minlength="10" pattern="[A-Za-z\s]*">
                <span *ngIf="!profesor.valid" id="errorBlock3" class="help-block">*Solo letras con un mínimo 10 caracteres</span>
            </div>
        </div>
        <div class="form-group row">
            <label for="example-url-input" class="col-xs-2 col-form-label text-left">URL</label>
            <div class="col-xs-10">
                <input name="url" class="form-control" type="url" placeholder="Url donde se encuentra el curso como por Ej. https://getbootstrap.com" #url="ngModel" required
                [(ngModel)]="nuevoCurso.url" aria-describedby="errorBlock4" minlength="10">
                <span *ngIf="!url.valid" id="errorBlock4" class="help-block">*Mínimo 10 caracteres</span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary text-right" [disabled]="!miFormulario.form.valid">Guardar</button>
    </form>
</div>
