<div id="blue">
    <div class="container">
        <div class="row">
            <h3>LISTA DE CURSOS DISPONIBLES.</h3>
        </div>
    </div>
</div>

<div class="container">
    <h2><a href="{{curso.url}}">{{curso.nombre}}</a>  <span class="badge">{{curso.id}}</span></h2>
    <p *ngIf="curso.plataforma">Plataforma: {{curso.plataforma}}</p>
    <p *ngIf="curso.plataforma">Profesor: {{curso.profesor}}</p>
    <hr/>
    <div class="text-right" style="margin-bottom: 20px;">
    <a type="button" class="btn btn-primary" [routerLink]="['/crear']">
        <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span> Agregar Nuevo Curso
    </a>
</div>
    <ul *ngFor="let curso of cursos" class="list-group text-left" style="margin-bottom: 20px;">
        <li (click)="selectCurso(curso)" class="list-group-item curso-link" [class.clicked]="cursoSelected.nombre===curso.nombre" style="background: #384452; color: white">
          <div class="row">
            <div class="col-md-8 text-left">
              {{curso.nombre}}  <span class="badge">{{curso.id}}</span>
            </div>
            <div class="col-md-4 text-right">
              <a class="btn btn-xs btn-primary" [routerLink]="['/crear', curso.nombre, curso.plataforma, curso.profesor, curso.url]"><span class="glyphicon glyphicon-new-window"></span></a>
            </div>
          </div>
        </li>
        <li class="list-group-item">
        <p *ngIf="curso.profesor"><small>Profesor: {{curso.profesor}}</small></p>
        <p *ngIf="curso.plataforma"><small>Plataforma: {{curso.plataforma}}</small></p>
        <p *ngIf="curso.url" ><a href="{{curso.url}}" target="_blank"><small>Web Site: {{curso.url}}</small></a> </p>
        </li>
    </ul>
</div>
