<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
       <span class="sr-only">Toggle navigation</span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
       <span class="icon-bar"></span>
     </button>
            <a class="navbar-brand" [routerLink]="['/cursos']">CURSOS COPADOS ONLINE.</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
            <ul class="nav navbar-nav">
                <li><a [routerLink]="['/cursos']">CURSOS</a></li>
                <li><a [routerLink]="['/contenido']">CONTENIDO</a></li>
                <li><a>AUTOR</a></li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</div>
<router-outlet></router-outlet>
<cursos-footer></cursos-footer>
