<!-- *****************************************************************************************************************
	 FOOTER
	 ***************************************************************************************************************** -->
	 <div id="footerwrap" class="footer">
	 	<div class="container">
		 	<div class="row">
		 		<div class="col-lg-4">
		 			<h4>Autor</h4>
		 			<div class="hline-w"></div>
		 			<p>{{autor}} &copy;{{anio}}</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Redes Sociales</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				<a href="#"><i class="fa fa-dribbble"></i></a>
		 				<a href="https://www.facebook.com/iarield" target="_blank"><i class="fa fa-facebook"></i></a>
		 				<a href="#"><i class="fa fa-twitter"></i></a>
		 				<a href="#"><i class="fa fa-instagram"></i></a>
		 				<a href="#"><i class="fa fa-tumblr"></i></a>
		 			</p>
		 		</div>
		 		<div class="col-lg-4">
		 			<h4>Oficina</h4>
		 			<div class="hline-w"></div>
		 			<p>
		 				Don Bosco, 137,<br/>
		 				3500, Resistencia,<br/>
		 				Argentina.<br/>
		 			</p>
		 		</div>

		 	</div><! --/row -->
	 	</div><! --/container -->
	 </div><! --/footerwrap -->
